<h1><%= @the_username.username %></h1>

<dl>
  <dt>ID</dt>
  <dd><%= @the_username.id %></dd>
  <dt>Edit user</dt>
  <dd>
    <form action="/update_user/<%= @the_username.id %>" >
      <label for="browser_username">Username</label>
      <input id="browser_username" type="text" name="query_username" placeholder="Enter a username..." value="<%= @the_username.username %>">

      <button>Update user</button>
    </form>
  </dd>
</dl>

<h2>Own photos (<%= @the_username.own_photos.count %>)</h2>

<table border ="1">
  <tr>
    <th>Image</th>
    <th>Owner</th>
    <th>Caption</th>
    <th>Posted</th>
    <th></th>
  </tr>

  <% @the_username.own_photos.each do |a_photo| %>
  <tr>
    <td><img src="<%= a_photo.image %>"></td>
    <td><%= a_photo.poster.username %></td>
    <td><%= a_photo.caption %></td>
    <td><%= a_photo.created_at %></td>
    <td><a href="/photos/<%= a_photo.id%>">Show details</td>
  </tr>

  <% end %>
</table>
